.App {
  text-align: center;
}

/* Новый стиль для grid-расположения мониторинговых панелей */
.machine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.machine-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

