.App {
  text-align: center;
}

/* Новый стиль для grid-расположения мониторинговых панелей */
.machine-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.machine-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Задаём минимальные размеры для элементов множественного выбора */
select {
  min-width: 200px; /* или любое подходящее значение */
  min-height: 100px; /* чтобы было удобно выбирать опции */
  padding: 5px;
}
